#!/usr/bin/env ruby

# The index page needs compiled with erb
compile '/index.html' do
  filter :erb
  layout '/default.*'
  filter :relativize_paths, type: :html
  write '/index.html'
end

# HTML files get piped straight through as a folder with an index file.
compile '/**/*.html' do
  layout '/default.*'
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '/index.html'
end

# This rule matches Markdown (.md) files, and uses the :kramdown filter.
compile '/**/*.md' do
  filter :kramdown
  layout '/post.*'
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '/index.html'
end

# Compiles Sass stylesheet, as well as an accompanying source map
%i[default sourcemap].each do |rep_name|
  # Ignores Sass files starting with an underscore
  ignore '/css/_*.sass'

  compile '/css/stylesheet.sass', rep: rep_name do
    path = @item.identifier.without_ext + '.css'
    options = { syntax: :sass, style: :compact, css_path: path, sourcemap_path: path + '.map' } # rubocop:disable LineLength

    case rep_name
    when :default
      filter :sass, options
      write path
    when :sourcemap
      filter :sass_sourcemap, options
      write path + '.map'
    end
  end
end

# Any other files get piped straight through
compile '/**/*' do
  write item.identifier.to_s
end

# All layout pages get compiled with erb
layout '/**/*', :erb
