#!/usr/bin/env ruby

# The index page needs compiled with erb
compile '/index.html' do
  filter :erb
  layout '/default.*'
  filter :relativize_paths, type: :html
  write '/index.html'
end

# HTML files get piped straight through as a folder with an index file.
compile '/**/*.html' do
  layout '/default.*'
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '/index.html'
end

# This rule matches Markdown (.md) files, and uses the :kramdown filter.
compile '/**/*.md' do
  filter :kramdown
  layout '/post.*'
  filter :relativize_paths, type: :html
  write item.identifier.without_ext + '/index.html'
end

# Any other files get piped straight through
compile '/**/*' do
  write item.identifier.to_s
end

# All layout pages get compiled with erb
layout '/**/*', :erb
